@model Rocky.Models.Category;

@*нужна для ввода новых значений*@
@*т-хелперы (asp-...) в нем Create показываю что вызываю его. Поиск Экшн метода типа POST с именем Create*@

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>          
        @*строка выше - это валидация ток для Модели, текст появляется там где есть ТЭГ-Хелппер (форма в моем случ)
        После верхнего ДИВ я иду в контроллер и добавляю if для проверки валидации в методе Create (в нем db save будет) *@
        
        <div>
            <h2 class="text-info p1-3"> Add Category </h2>
        </div>

        @* вставка снипета: *@
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    @*форма для ввода:*@
                    <div class="col-8">
                        <input asp-for="Name" class="form-control"></input>
                        <span asp-validation-for="Name" class="text-danger"></span>     @*отобрж текст ошибки*@
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DisplayOrder"></label>
                    </div>
                    @*форма для ввода:*@
                    <div class="col-8">
                        <input asp-for="DisplayOrder" class="form-control"/>
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                           <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            @*убрал asp-controller="Category" тк работаю в пределах одной модели*@
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fa fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>

    </div>
</form>


@*плюсом: для валидации на стороне клиента*@
@section Scripts{

    @{ <partial name="_ValidationScriptsPartial"/> }        @* такое имя взял из: Views -> Shared -> файл с этим именем *@

}